.example-icon {
    padding: 0 14px;
  }
 
  .example-button-row button,
  .example-button-row a {
    margin-right: 8px;
    
  }

  ::ng-deep .mat-button, .mat-menu-item{
    font-size: 40px;
    font-family: itc-benguiat, serif;
    font-style: normal;
    font-weight: 700;
  }

  .title-center {
    flex: 1 1 auto;
    text-align: center;
    padding: 0, 25%;
  }
  
  ::ng-deep .mat-toolbar-row, .mat-toolbar-single-row, .mat-toolbar.mat-primary {
    position: fixed;
    z-index: 10000;
  }

 