<div><mat-toolbar  color="primary" >
    
    <mat-toolbar-row>
        <!-- <div class="logo">
        <img src="https://i.pinimg.com/originals/b1/7b/20/b17b2018680ed26a56e6439fd6967710.jpgs" alt="logo" width="60">  
        </div> -->
     <div class="title-center">
      <span class="example-spacer"></span>
       <button mat-button class="element1">Filmy</button>
       <button mat-button class="element2">Aktorzy</button>
       <button mat-button class="element3">Element 3</button>
       <button mat-button class="element4">Element 4</button>
       <button mat-button class="element5">Element 5</button>
       <button mat-button class="element6">Element 6</button>
     <!-- <button mat-button [matMenuTriggerFor]="movies">MOVIES</button>
     <button mat-button [matMenuTriggerFor]="cast">CAST</button>
     <button mat-button [matMenuTriggerFor]="quentinTarantino">QUENTIN TARANTINO</button>
     <button mat-button [matMenuTriggerFor]="news">NEWS</button>
     
     <mat-menu  #movies="matMenu">
        <button mat-menu-item >Pulp Fiction</button>
        <button mat-menu-item >Kill Bill</button>
        <button mat-menu-item >Inglorious Bastards</button>
        <button mat-menu-item >Once upon a time in Hollywood</button>
        <button mat-menu-item >...</button>
      </mat-menu>
      <mat-menu  #cast="matMenu">
        <button mat-menu-item >Pulp Fiction</button>
        <button mat-menu-item >Kill Bill</button>
        <button mat-menu-item >Inglorious Bastards</button>
        <button mat-menu-item >Once upon a time in Hollywood</button>
        <button mat-menu-item >...</button>
      </mat-menu>
      <mat-menu  #quentinTarantino="matMenu">
        <button mat-menu-item >Pulp Fiction</button>
        <button mat-menu-item >Kill Bill</button>
        <button mat-menu-item >Inglorious Bastards</button>
        <button mat-menu-item >Once upon a time in Hollywood</button>
        <button mat-menu-item >...</button>
      </mat-menu>
      <mat-menu  #news="matMenu">
        <button mat-menu-item >Pulp Fiction</button>
        <button mat-menu-item >Kill Bill</button>
        <button mat-menu-item >Inglorious Bastards</button>
        <button mat-menu-item >Once upon a time in Hollywood</button>
        <button mat-menu-item >...</button>
      </mat-menu> -->
      <!-- 
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">print</mat-icon>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">star</mat-icon>
       -->
       
       
      </div>
    </mat-toolbar-row>
    <img src="src/app/img/background.jpg" alt="">
  </mat-toolbar> 
