/* Add application styles & imports to this file! */


html, body { height: 100%;
  background-color: black;
  background-image:url('src/app/img/background.jpg');
  height:100%; background-size:cover; width:auto; background-repeat: no-repeat; background-attachment: fixed;
}
body { margin: 0; font-family: Lato, "Helvetica Neue", sans-serif; 
   
}

