<div>
  <mat-button-toggle-group #colorToggle="matButtonToggleGroup"
                           value="primary"
                           aria-label="Change color">
    <mat-button-toggle value="primary"> Primary </mat-button-toggle>
    <mat-button-toggle value="accent"> Accent </mat-button-toggle>
  </mat-button-toggle-group>
  <span class="example-button-toggle-label"> Color </span>
</div>

<div>
  <mat-button-toggle-group #backgroundColorToggle="matButtonToggleGroup"
                           value="primary"
                           aria-label="Change color">
    <mat-button-toggle value="primary"> Primary </mat-button-toggle>
    <mat-button-toggle value="accent"> Accent </mat-button-toggle>
  </mat-button-toggle-group>
  <span class="example-button-toggle-label"> Background Color </span>
</div>

<mat-tab-group [color]="colorToggle.value" [backgroundColor]="backgroundColorToggle.value">
  <mat-tab label="PULP FICTION"> <img src="https://www.indiewire.com/wp-content/uploads/2019/07/Screen-Shot-2019-07-22-at-5.09.08-PM.png?w=780" alt=""> </mat-tab>
  <mat-tab label="INGLORIOUS BASTARDS"> <img src="https://www.factinate.com/wp-content/uploads/2017/04/inglourious-basterds-1200-1200-675-675-crop-000000.jpg" alt=""> </mat-tab>
  <mat-tab label="ONCE UPON A TIME IN HOLYWOOD"> <img src="https://cdn.onebauer.media/one/media/5d7f/b914/6d81/745a/addd/2232/once-upon-hollywood-pitt-qualley.jpg?quality=50&width=1800&ratio=16-9&resizeStyle=aspectfill&format=jpg" alt="">  </mat-tab>
  <mat-tab label="DJANGO"> <img src="https://cdn1.thr.com/sites/default/files/imagecache/landscape_928x523/2013/02/django_1.jpg" alt=""> </mat-tab>
  <mat-tab label="KILL BILL"> <img src="https://www.wprost.pl/_thumb/19/be/9086908613e04b60e66f4172cf37.jpeg" alt=""> </mat-tab>
  <mat-tab label="Grindhouse: Death Proof"> <img src="https://filmschoolrejects.com/wp-content/uploads/2019/07/death-proof-1-1280x720.jpg " alt=""> </mat-tab>
  <mat-tab label="Third"> Content 7 </mat-tab>
  <mat-tab label="Third"> Content 8 </mat-tab>
  <mat-tab label="Third"> Content 9 </mat-tab>
</mat-tab-group>