h3 {
    font-family: 'Dancing Script', cursive;
    float: right;
    margin-right: 30px;
    font-size: 24px;

}
h1,h2{
    float: left;
    margin-top: 0px;
    margin-bottom: 0px;
}   
h1{
    margin-left:30px;
    font-family: itc-benguiat, serif;
}

p{
    margin:15px
}