.example-icon {
    padding: 0 14px;
  }
  
  .example-spacer {
    flex: 1 1 auto;
  }

  
  .rol-md-6{
    margin-top: 10% ;
    margin-bottom: 10%;
  }

 
  

  .foto{
    width: 300px;
    height: 400px;

  }
  .row{
  
  }