
 
 
 <div class="bootstrapinitiation">
    <div class="container">
        <div class="row">

            
          <div class="rol-md-6 offset-md-2 navig1">   
            <button mat-button class="element6"></button>
            </div>        
<div class="rol-md-6 offset-md-0 ">     
<galeriaPion></galeriaPion>
</div>
<div class="rol-md-6 offset-md-2 ">   
  <button mat-button class="element6"></button>
  </div>
  <div class="rol-md-6 offset-md-2 navig2">   
    <button mat-button class="element6"></button>
    </div>

<div class="rol-md-6 offset-md-2 ">     
<galeriaPion></galeriaPion>
</div>
<div class="rol-md-6 offset-md-2 ">   
  <button mat-button class="element6"></button>
  </div>
  <div class="rol-md-6 offset-md-2 navig3">   
    <button mat-button class="element6"></button>
    </div>

<div class="rol-md-6 offset-md-2 "> 
<galeriaPion></galeriaPion>
</div>
<div class="rol-md-12 offset-md-2 ">   
  <button mat-button class="element6"></button>
  </div>
  <div class="rol-md-12 offset-md-2 navig4">   
    <button mat-button class="element6"></button>

   

<div class="rol-md-6 offset-md-2 ">
<galeriaPion></galeriaPion>
</div>
<div class="rol-md-6 offset-md-2 ">   
  <button mat-button class="element6"></button>
  </div>
  <div class="rol-md-6 offset-md-2 navig5">   
    <button mat-button class="element6"></button>
    </div>

<div class="rol-md-6 offset-md-2 ">
<footer></footer>
</div>
<div class="rol-md-6 offset-md-2 ">   
  <button mat-button class="element6"></button>
  </div>
  <div class="rol-md-6 offset-md-2 navig6">   
    <button mat-button class="element6"></button>
    </div>

<div class="rol-md-6 offset-md-2 ">
<galeriaPion></galeriaPion>
</div>
<div class="rol-md-6 offset-md-2 ">   
  <button mat-button class="element6"></button>
  </div>
  <div class="rol-md-6 offset-md-2 ">   
    <button mat-button class="element6"></button>
    </div>

<div class="rol-md-6 offset-md-2">
<header></header>
</div>



  </div></div></div>

