



<mat-tab-group class="font" color="primary" backgroundColor="primary">
  <mat-tab label="Reservoir Dogs"> <billboard title="fsdgasdfasfd" subtitle="more asfdasdfasdf" content=" asdfasdfasfd" img=""> </billboard> </mat-tab>
  <mat-tab label="Pulp Fiction">  <billboard></billboard>  </mat-tab>
  <mat-tab label="Jackie Brown">  <billboard></billboard> </mat-tab>
  <mat-tab label="Kill Bill: Volume 1">  <billboard></billboard> </mat-tab>
  <mat-tab label="Kill Bill: Volume 2">  <billboard></billboard> </mat-tab>
  <mat-tab label="Grindhouse: Planet Terror"> <billboard></billboard> </mat-tab>
  <mat-tab label="Grindhouse: Death Proof"> <billboard></billboard> </mat-tab>
  <mat-tab label="Inglorious Bastards"> <billboard></billboard></mat-tab>
  <mat-tab label="Django Unchained"> <billboard></billboard></mat-tab>
  <mat-tab label="The Hateful Eight"> <billboard></billboard></mat-tab>
  <mat-tab label="Once Upon a Time in Hollywood"> <billboard></billboard></mat-tab>
</mat-tab-group>
