:host {
  >.container {
      max-width: 1264px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      background: none;
  }
  ::ng-deep {
      .mat-tab-group {
          flex-direction: row;
      }
    }
    ::ng-deep {
      .mat-tab-header {
        border-bottom: none;
      }
    }
    ::ng-deep { .mat-tab-header-pagination {
          display: none !important;
      }}

     ::ng-deep { .mat-tab-labels {
          flex-direction: column;
      }
      ::ng-deep { .mat-ink-bar {
          height: 100%;
          left: 98% !important;
      }}
      ::ng-deep {
      .mat-tab-body-wrapper {
          flex: 1 1 auto;
      }}
  }
}

.container {
  position: relative;
  width: 100%;
  flex: 1 0 auto;
  margin: 0 auto;
  text-align: left;
  
}

#content {
  box-sizing: content-box;
  margin: 0 auto;
  padding: 15px;
  width: 1264px;
  background-color: #ffffff;
  
}

#content {
  max-width: 1100px;
  width: 100%;
  background-color: #ffffff;
  padding: 24px;
  box-sizing: border-box;
  
}

#content,
#main-content {
  &::before,
  &::after {
      content: "";
      display: table;
      
  }
  &::after {
      clear: both;
  }
}


::ng-deep .mat-tab-label, .mat-tab-link {
  font-size: 28px;
  font-family: itc-benguiat, serif;
  font-style: normal;
  font-weight: 700; 
  color: black;
  
}


// ::ng-deep .mat-tab-header{
//   margin-right:100px;
// }

