
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
  
}



::ng-deep .mat-card-actions .mat-button, .mat-card-actions .mat-raised-button, .mat-card-actions .mat-stroked-button {
   margin: 0px; 
}



.starone:hover{
  color: rgb(247, 235, 74); 
}
.startwo:hover{
  color: rgb(247, 235, 74); 
}
.starthree:hover{
  color: rgb(247, 235, 74); 
}
.starfour:hover{
  color: rgb(247, 235, 74); 
}
.starfive:hover{
  color: rgb(247, 235, 74); 
}