<mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{title}}</mat-card-title>
          <mat-card-subtitle>{{subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://i.kym-cdn.com/entries/icons/facebook/000/027/666/download_(1).jpg" alt="Photo of a Shiba Inu">
        <mat-card-content>{{content}}</mat-card-content>
        <mat-card-actions>
              <!-- <button mat-raised-button color="primary">LIKE</button>
          <button mat-raised-button color="accent">SHARE</button> -->
          <przycisk label="label" icon="star"></przycisk>    
        </mat-card-actions>
      </mat-card>
    