  <button mat-raised-button color="primary" class="starOne glow">
    <span class="button--label">1</span>
    <mat-icon>star</mat-icon>
  </button>

  <button mat-raised-button color="primary" class="starTwo glow">
    <span class="button--label">2</span>
    <mat-icon>star</mat-icon>
  </button>

  <button mat-raised-button color="primary" class="starThree glow">
    <span class="button--label">3</span>
    <mat-icon>star</mat-icon>
  </button>

  <button mat-raised-button color="primary" class="starFour glow">
    <span class="button--label">4</span>
    <mat-icon>star</mat-icon>
  </button>

  <button mat-raised-button color="primary" class="starFive glow">
    <span class="button--label">5</span>
    <mat-icon>star</mat-icon>
    
  </button>


